/* Общий стиль blockquote */
.markdown-section blockquote {
  border-left: 4px solid #ccc;
  padding: 10px 16px;
  background: #f9f9f9;
}

/* Синий Hint */
.markdown-section blockquote strong:first-child {
  color: #1e88e5;
}

/* Если начинается с "Hint" */
.markdown-section blockquote {
  border-left-color: #1e88e5;
  background: #e3f2fd;
}

/* Контейнер для блока кода + кнопки */
pre {
  position: relative;
}

.copy-code-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 12px;
  padding: 4px 8px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 6px;
  background: rgba(255,255,255,.9);
  cursor: pointer;
}

.copy-code-btn:active {
  transform: translateY(1px);
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  justify-content: center;
}

.img-grid img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* важное — делает квадрат */
}

.img-figure {
  width: 600px;
  height: 350px;              /* ЕДИНАЯ ВЫСОТА */
  margin: 20px auto 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-figure img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;        /* БЕЗ ОБРЕЗКИ */
}

.img-caption {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

footer {
  background: #fff;
  border-top: 1px solid #e1e3e9;
  padding: 22px 18px;
  max-width: 1200px;    /* как .wy-nav-content */
  margin: 32px auto 0;  /* центрирование под контентом */
  box-sizing: border-box;
}

.projectInfo{
  display:flex;
  flex-direction:column;
  gap:10px;
  color:#666;
}
.projectInfo a{
  color:#444;
  text-decoration:none;
  border-bottom:1px solid transparent;
  width: fit-content;
}
.projectInfo a:hover{
  border-bottom-color:#999;
}
.contentInfo{
  margin-top:14px;
  color:#888;
  font-size:13px;
  text-align:right;
}

