name: Documentation

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js (например 18 LTS)
        uses: actions/setup-node@v4
        with:
          node-version: '20.18.1'

      - name: Install Honkit
        run: |
          npm install -g honkit
          honkit --version

      - name: Build Honkit books
        run: |
          mkdir -p docs-build

          # собрать обе книги в подпапки
          honkit build docs/technic6S docs-build/technic6S
          honkit build docs/pilotFPV  docs-build/pilotFPV

      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs-build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    concurrency:
      group: "pages"
      cancel-in-progress: true
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
